<div class="welcome-background">
  <div class="text-welcome">
    <p>
      Food and stuff apps catering blah
    </p>
  </div>
</div>

<div class="well">
  <%= link_to "Products", products_path %>
  <h2>Landing</h2>
</div>
