<div class="welcome-background">
  <div class="text-welcome">
    <h4>Son of Cod</h4>
    <p>
      <em>Purveyors of fine seafood</em>
    </p>
  </div>
</div>

<div class="well">

  <h2>The finest seafood.</h2>
  <p>
    At Son of Cod we always strive to provide our customers with the freshest seafood possible. We have developed relationships with family fisheries for generations. The most demanding chef's and hoteliers praise our services and products, especially the rapidity with which we can make an unusual request happen. Click the link to see what we have on offer today.</p>
  <%= link_to "Products", products_path %>
</div>
